@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to right bottom, #294061, #006f98, #009fa4, #00cb78, #a8eb12);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
